body{
    background: #FFFFFF;
    width: 1440px;
    height: 1024px;
}

.logo{
    position: absolute;
    height: 10%;
    width: 50%;
}

.logo img{
    height: 48%;
    margin: 5%;
}

.ingreso-texto{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: left;
    height: auto;
    margin: 6% 2% 0 0;
}  

.ingreso-texto textarea{
    text-align: top left;  
    margin-left: 30%;
    width: 60%;
    height: 17em;
    border: white;
    border-radius: 17px;
    font-size: 20px;
}

.ingreso-texto textarea:focus-within{
    border-color: white;
    outline: none;
}

.ingreso-texto p{
    display: inline-block;
    width: 50%;
    color: #495057;
    font-size: 12px;
    margin: 3% 30%;
    font-family: 'inter', sans-serif;
}

.ingreso-texto .accion{
    margin-left: 30%;
    width: 75%;
}

.ingreso-texto ::placeholder{
    font-family: 'inter', sans-serif;
    color: #0A3871;
    font-size: 32px;
}

.encriptar{
    width: 48%;
    padding: 3%;
    background: #0A3871;
    color: white;
    border-radius: 17px;
    border-color: #0A3871;
    margin-right: 3%;
}

.encriptar :disabled{
    width: 48%;
    padding: 3%;
    background: #747474;
    color: rgb(0, 0, 0);
    border-radius: 17px;
    border-color: #474747;
    margin-right: 3%;
}

.desencriptar{
    width: 48%;
    padding: 3%;
    background: white;
    color: #0A3871;
    border-radius: 17px;
    border-color: #0A3871;
}

.devolucion-texto{
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 24%;
    margin: 2.2% 0 0 4%;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 18px;
    box-shadow: 0 3px 20px rgb(206, 206, 206);
    /*white-space: nowrap;*/
    overflow: auto;
    
}

.devolucion-texto img{
    width: 65%;
    margin: 25% 0 5% 0;
}

.devolucion-texto h2{
    word-break: normal;
    width:80%;
    font-weight: bold;
    font-size: 24px;
    color: #343A40;
    font-family: 'inter', sans-serif;
    margin: 0 0 8% 0;
    padding: 0 30px;
}

.devolucion-texto p{
    word-break: normal;
    font-family: 'inter', sans-serif;
    margin: 0 0 8% 0;
    font-size: 16px;
    color: #495057;
    padding: 0 10% 27% 10%;
}

#resultado .resultado{
    font-family: 'inter', sans-serif;
    font-size: 22px;
    color: #495057;
    text-align: left;
    padding: 5% 5% 4.5% 5%;
    height: 18em;
    word-break: break-all;
    overflow-y: auto;
    width: fit-content;
}

.copiar{
    width: 75%;
    padding: 4.5%;
    background: white;
    color: #0A3871;
    border-radius: 17px;
    border-color: #0A3871;
    margin-bottom: 8.2%;   
}